footer
  .container.text-center
    p.pull-left © 2017 Radu Clitan. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/raducl/csv-file-uploader') GitHub Project
      li
        a(href='https://github.com/raducl/csv-file-uploader/issues') Issues
