extends layout

block content
  h1 Big CSV files uploader and parser
  p.lead A project using event streams to upload and parse big csv files. 
  hr
  .row
    .col-sm-6
      h2 Real time upload progress status
      p Using websockets under the hood we can achieve friendly UX experiences, showing the files uploading progress.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 High performance csv parsing
      p A mini application that allows multiple CSV uploads in the same time using the features of Node.JS (event loop, sockets, performing I/O operations asynchronously), stores the data making use of a MongoDB database, and runs fast with an accent on performance.
      p
        a.btn.btn-default(href='#', role='button') View details »
