@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}


// Form styles
// 
  .disabled {
    pointer-events: none;
  }

  .form-group {
    display: flex;
    justify-content: space-between;
  }

  .controls-group {
    display: flex;
    align-items: center;
  }

  .file-input-row {
    border-bottom: 1px solid #a0a0a0;
    margin-bottom: 25px;
  }

  .file-input-group {
    flex: 2;
  }

  .progres-bar-container{
    flex: 3;
    padding: 0;
    margin: 12px;
  }

  .progres-bar-line {
    margin: 0;
    padding: 0;
    width: 6%;
  }

  .upload-btn {
    margin-right: 10px;
  }