extends ../layout

block content
  h2 File Upload API
  hr

  .row
    .col-sm-4
      a(href='/api/upload', style='color: #1565c0')
        .panel.panel-default(style='background-color: #fff')
          .panel-body
            img(src='http://i.imgur.com/UPTzIdC.png', height=40)
            |  File Upload
      a(href='/api/upload/index', style='color: #fff')
        .panel.panel-default(style='background-color: #ff6500')
          .panel-body
            img(src='https://cdn4.iconfinder.com/data/icons/111-seo-services-pack/128/new_seo2-34-256.png', height=40)
            |  Uploaded files index
    //- .col-sm-4
    //-   a(href='/api/google-maps', style='color: #fff')
    //-     .panel.panel-default(style='background-color: #20a360')
    //-       .panel-body
    //-         img(src='http://i.imgur.com/Er2ZqgZ.png', height=40)
    //-         |  Google Maps
      //- a(href='/api/scraping', style='color: #fff')
      //-   .panel.panel-default(style='background-color: #ff6500')
      //-     .panel-body
      //-       img(src='http://i.imgur.com/RGCVvyR.png', height=40)
      //-       |  Web Scraping
