extends ../layout

block content
  .page-header
    h2
      i.fa.fa-upload
      | File Upload

  .btn-group.btn-group-justified#event-emiter
    a.btn.btn-success(href="/api/files/index")
      i.fa.fa-laptop
      | File Uploads Index
    a.btn.btn-success
      i.fa.fa-book
      | Emit 'testing' event

  h3 File Upload Form
  .row
    .col-sm-12
      p All files will be uploaded to "/uploads" directory.
      #app
